.MessageArea{
    padding: 10px;
    margin: 10px 10px 0px 10px;
    border-width: 2px;
    border-style: groove;
    border-color: green;
    box-shadow: 0px 0px 30px green;
    height: 95%;
    width: 100%;
    overflow: auto;
    font-family: monospace;
    z-index: 15;
}